h1 {
    color: red;
    text-align: center;
}

h2,h3,p,li {
    text-align: left;
}

li {
    color: mediumblue;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
img {
    
}
.img-size {
    width: 250px;
    height: 250px;
}

